<div class="flex justify-between">
  <div class="text-2xl font-bold">
    IN: {{ totalBalanceIn() | currency : "EUR" }}
  </div>

  <div class="text-2xl font-bold">
    OUT: {{ totalBalanceOut() | currency : "EUR" }}
  </div>

  <button matButton (click)="router.navigate(NEW_TRANSACTION_ROUTE)">
    <mat-icon>add</mat-icon>
    {{ "common.add" | translate }}
  </button>
</div>

<app-table
  [enableCustomActions]="true"
  [tableId]="'transaction-list'"
  [columns]="transactionListService.columns()"
  [values]="transactionListService.allTransactionLists()"
>
  <custom-column name="date">
    <ng-template let-item="row" bodyTemplate>
      {{ item.date | date : "dd/MM/yyyy" }}
    </ng-template>
  </custom-column>

  <custom-column name="amount">
    <ng-template let-item="row" bodyTemplate>
      <div
        [ngStyle]="{
          color:
            item.type?.name === TRANSACTION_TYPE_IN
              ? 'green'
              : item.type?.name === TRANSACTION_TYPE_OUT
              ? 'red'
              : ''
        }"
      >
        {{ item.amount | currency : item.currency?.code }}
      </div>
    </ng-template>
  </custom-column>

  <custom-column name="type">
    <ng-template let-item="row" bodyTemplate>
      {{ item.type?.name }}
    </ng-template>
  </custom-column>

  <custom-column name="actions">
    <ng-template let-item="row" bodyTemplate>
      <button mat-icon-button (click)="goToDetail(item.id)" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="askToDelete(item.id)"
        aria-label="Delete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </custom-column>
</app-table>
