<div class="flex justify-between">
  <div class="text-2xl font-bold"></div>

  <button matButton (click)="router.navigate(NEW_PLAN_ROUTE)">
    <mat-icon>add</mat-icon>
    {{ "common.add" | translate }}
  </button>
</div>

<app-table
  [enableCustomActions]="true"
  [columns]="planListService.columns()"
  [values]="planListService.allPlanLists()"
  (onDeleteItem)="askToDeletePlan($event)"
>
  <custom-column name="amount">
    <ng-template let-item="row" bodyTemplate>
      {{ item.amount | currency : item.currency?.code }}
    </ng-template>
  </custom-column>

  <custom-column name="type">
    <ng-template let-item="row" bodyTemplate>
      {{ item.type?.name }}
    </ng-template>
  </custom-column>

  <custom-column name="actions">
    <ng-template let-item="row" bodyTemplate>
      <button mat-icon-button (click)="goToDetail(item.id)" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="askToDeletePlan(item.id)"
        aria-label="Delete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </custom-column>
</app-table>
