<mat-drawer-container class="h-full" autosize>
  <mat-drawer #drawer class="h-full" mode="over">
    <div class="flex flex-col p-2 gap-4">
      <div class="flex gap-2">
        <button
          matIconButton
          (click)="drawer.toggle()"
          aria-label="toggle-sidenav"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div class="text-2xl">E-Wall3T</div>
      </div>

      <div class="flex flex-col gap-2">
        @for(item of menuSvc.menuItemList(); track $index) {
        <a mat-button [routerLink]="item.route" (click)="drawer.toggle()">
          {{ item.label | translate }}
          @if(item.icon) {
          <mat-icon>{{ item.icon }}</mat-icon>
          }
        </a>
        }
      </div>
    </div>
  </mat-drawer>

  <div class="h-full">
    <mat-toolbar>
      <button
        matIconButton
        (click)="drawer.toggle()"
        aria-label="toggle-sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="text-2xl">E-Wall3T</div>
      <span class="flex-auto"></span>
      <button
        mat-icon-button
        (click)="
          sessionStore.setTheme(
            sessionStore.themeSelected() === THEME_DARK
              ? THEME_LIGHT
              : THEME_DARK
          )
        "
      >
        <mat-icon>{{
          sessionStore.themeSelected() === THEME_DARK
            ? "light_mode"
            : "dark_mode"
        }}</mat-icon>
      </button>
    </mat-toolbar>

    <div class="flex flex-col gap-2 p-4">
      @let routeTitle = routeTitle$(); @if(routeTitle) {
      <div class="text-xl font-bold">{{ routeTitle | translate }}</div>
      }

      <router-outlet />
    </div>

    <a
      mat-fab
      color="primary"
      [routerLink]="['/', ROUTE.AUTH.BASE_PATH, ROUTE.AUTH.TRANSACTION_NEW]"
      class="!fixed bottom-6 right-6 z-50"
    >
      <mat-icon>add</mat-icon>
    </a>
  </div>
</mat-drawer-container>
